<div class="starfield"></div>

<div class="page-content">
	<h1>Welcome to HelmOS</h1>

	<div class="ctas">
		<%= link_to 'Register', :sign_up, class: 'button' %>
		<%= link_to 'Access HelmOS', :sign_in, class: 'button' %>
	</div>
</div>
