<div id="main-menu">
	<ul class="left">
		<li class="dropdown">
			Applications

			<ul>
				<li class="application" data-application-class="Application">Application</li>
				<li class="application" data-application-class="CommunicationsApplication">Communications</li>
				<li class="application" data-application-class="NavigationApplication">Navigation</li>
			</ul>
		</li>
	</ul>

	<ul class="right">
		<li class="link" data-href="/sign_out">Shut Down</li>
	</ul>
</div>


<div id="application-container">
	<div id="main-screen"></div>
</div>