<div id="main-menu">
	<ul class="left">
		<li>Applications</li>
	</ul>

	<ul class="right">
		<li class="link" data-href="/sign_out">Shut Down</li>
	</ul>
</div>

<div id="application-container"></div>