// colors
$pink: #c1235f;
$charcoal: #2c2c2c;
$dark-gray: #868686;
$med-gray: #bcbcbc;
$light-gray: #ddd;
$lightest-gray: #f1f1f1;

$green: #89B57D;
$brown: #825F4D;

$tile-icon-green: #1B7659;
$tile-icon-purple: #623386;
$tile-icon-pink: #AA1B4E;
$tile-icon-blue: #163B86;

// fonts
// $futura: 'futura-pt', sans-serif;
// $caslon: 'adobe-caslon-pro', serif;
$euro-ext: "EurostileExt-Bla", "Inconsolata", sans-serif;
$euro-cond: "EurostileCon-Reg", "Inconsolata", sans-serif;