@keyframes orbit {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-360deg); }
}

@keyframes orbit-clockwise {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


@keyframes bs {
	0% { opacity: 1; }
	100% { opacity: 1; }
}
